<!DOCTYPE html>
<html>
    <head>
        <title>My Bank Account</title>
        <link rel="stylesheet" type="text/css" href="assets/styles.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- jQuery CDN link -->
        <script src="/assets/transfer.js"></script>

          <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
      </head>
      <body>
        <div class="container">
          <h1>GFG Bank Account</h1>
          <div class="account-summary">
            <h2>Account Summary</h2>
            <p>Username: <span id="username"></span></p>
            <p>Account number: <span id="account-number"></span></p>
            <p>Balance: <span id="balance"></span></p>
            <p>Last transaction: <span id="last-transaction"></span></p>
          </div>
          <div class="transaction-history">
            <h2>Transaction History</h2>
            <table id="transaction-table">
              <thead> <!-- Add thead element for table header row -->
                <tr>
                  <th>Date</th>
                  <th>Game Date (GSKY)</th>
                  <th>Amount</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody> <!-- Add tbody element for table body rows -->
              </tbody>
            </table>
          </div>
          <form name="transfer_form" style="padding: 15px;">
            <label for="to_acc_username">Transfer To:</label>
            <input type="text" id="to_acc_username" name="to_acc_username" required><br><br>
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount" required><br><br>
            <label for="description">Description:</label>
            
            <input type="text" id="description" name="description" required><br><br>
            <input type="button" value="Transfer" onclick="return transfer()">
          </form>
        </div>
      
        <script src="assets/acc.js"></script>
      
      </body>
</html>
